<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpjcs_TxV_ergqLayneCbNWjo8lAIPSCI</string>
	<key>GCM_SENDER_ID</key>
	<string>391343557546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleSigninAuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>signin-77324</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-77324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391343557546:ios:aaeb54fd8698786138b9d3</string>
</dict>
</plist>